body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiFab-root.floatButton {
  position: absolute;
  top: 15px;
  right: 15px;
}

.MuiDropzoneArea-root {
  min-height: auto !important;
}

.reddot::after {
  content: '•';
  color: red;
  position: relative;
  left: -30px;
}
